VITE_SUPABASE_URL=https://phykyzpqkbsracbazaef.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBoeWt5enBxa2JzcmFjYmF6YWVmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU1MDIyOTMsImV4cCI6MjEwMTA3ODI5M30.NOi8IbY4kLSVtqWy2yRUywyHAZlvZLA3gOTeC4R3qtQ
