# Logs
*.log
npm-debug.log*

# Environment files
.env.local
.env.*.local
!.env.example

# Editor files
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
**/.DS_Store

# Dependencies
node_modules/

# Build output
dist/
build/

# Cache
.cache/
.pnp/

# TypeScript
tsconfig.tsbuildinfo

.env

.mcp.json

